html {
    padding: 0;
    min-width: 300px;
    max-width: 1980px;
    height: 100%;
    font-style: italic;
}
body {
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
a {
    color: #888;
    text-decoration: blink;
}
a:hover {
    text-decoration: underline;
}
@font-face {
    font-family: Amplify;
    src: url('../fonts/amplify.eot?#iefix') format('embedded-opentype'), url('../fonts/amplify.woff') format('woff'), url('../fonts/amplify.ttf') format('truetype'), url('../fonts/amplify.svg#svgFontName') format('svg');
}
.logo-wrap {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
.logo-wrap .logo-background {
    padding: 4px 0 0 7px;
    box-sizing: border-box;
    max-width: 100%;
    color: #c7c7c7;
    position: absolute;
    font-size: 20px;
    line-height: 22px;
    word-wrap: break-word;
    font-family: "Baskerville Old Face";
    font-style: normal;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(-45deg, #c7c7c7, #e7e7e7, #c7c7c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#refresh-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px;
    width: 20px;
    cursor: pointer;
}
page {
    max-height: 100vh;
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}
.fade-top {
    -webkit-mask-image: url('../img/grad-fill.png'), url('../img/grad-to-top.png');
    -webkit-mask-size: 1px 100%, 1px 0%;
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-position: 0 98%, 0 0%;
}
.fade-bottom {
    -webkit-mask-image: url('../img/grad-fill.png'), url('../img/grad-to-bottom.png');
    -webkit-mask-size: 1px 100%, 1px 0%;
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-position: 0 0%, 0 98%;
}
page title {
    color: #f9810c;
    font-size: 64px;
    margin: 20px 0 0 40px;
    font-family: Amplify;
    position: absolute;
    display: block;
    line-height: 64px;
    font-style: normal;
}
page content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 84px 25px 25px 25px;
}
#logo noscript {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
}
#logo noscript img {
    z-index: 4;
    margin: auto;
    width: 400px;
    vertical-align: middle;
}
.background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}
.ssao {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
#about info {
    display: block;
}
#about info> * {
    vertical-align: middle;
}
#about info> .avatar {
    display: none;
    /*display:inline-block;*/
}
#about info> .avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}
#about info> .bio {
    text-align: justify;
    display: inline-block;
    color: #888;
    padding: 5%;
    max-width: 380px;
    width: 40%;
}
#about skills {
    white-space: nowrap;
    display: block;
}
#about skills> stack {
    white-space: normal;
    padding: 5px 10px 25px 10px;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
}
#about skills> stack> progress {
    font-size: 16px;
    background: #888;
    color: #545454;
    margin: 6px;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 14px;
    transition: .8s;
}
progress::-webkit-progress-bar {
    background-color: #888;
}
progress::-webkit-progress-value {
    background-color: #f9950c;
}
progress::-moz-progress-bar {
    background-color: #888;
}
progress::-webkit-progress-bar {
    background-color: #888;
}
progress::-webkit-progress-value {
    background-color: #f9950c;
}
#about skills> stack> progress::before {
    position: absolute;
    text-align: right;
    white-space: normal;
    font-size: 14px;
    left: -140px;
    width: 40%;
    bottom: 0;
    content: attr(name);
}
#about skills> #skill-time {
    width: 100%;
    padding: 5px;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
}
#skill-time::-webkit-slider-runnable-track {
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}
#skill-time::-moz-range-track {
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}
#skill-time::-ms-track {
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}
#skill-time::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #888;
    margin-top: -6px;
}
#skill-time::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #888;
    margin-top: -6px;
}
#skill-time::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #888;
    margin-top: -6px;
}
#skill-time::-webkit-slider-thumb:active {
    background: gray;
}
#skill-time::-webkit-slider-thumb:active {
    box-shadow: 0 0 2px gray;
}
#skill-time:focus {
    outline: none;
}
#about skills> #skill-time:active+ #skill-time-labels {
    opacity: 1;
}
#about skills> #skill-time-labels {
    width: 100%;
    opacity: 0;
    transition: .8s;
}
#about skills> #skill-time-labels td {
    color: #b1b1b1;
    font-size: 12px;
}
#work .work-wrap row {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    transition: .8s;
    margin-right: -50vw;
    margin-left: -50vw;
}
sticker {
    outline: none;
    display: inline-table;
    margin: 0 3vw;
    padding-bottom: 5px;
    position: relative;
    transition: .8s;
    border-radius: 100px;
    cursor: pointer;
}
sticker:focus {
    margin-right: 0px;
}
sticker> info {
    display: inline-block;
    opacity: 0;
    color: #7a7a7a;
    width: 0px;
    transition: .8s;
    text-align: left;
    vertical-align: middle;
    width: 15vw;
    margin-right: -15vw;
    padding-left: 10px;
}
sticker:focus> info {
    opacity: 1;
    margin: 0;
}
sticker> info a {
    font-size: 22px;
    display: inline-block;
}
sticker> info a[href]:after {
    content: '';
    background: url('../img/link.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-left: 6px;
    display: inline-block;
    opacity: 0.5;
    transition: .8s;
}
sticker> info a[href]:hover:after {
    opacity: 1;
}
sticker> info desc {
    white-space: normal;
    font-size: 15px;
    display: block;
}
sticker> img {
    height: 16vw;
    border-radius: 50%;
    transition: .8s;
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.75;
}
sticker:hover> img, sticker:focus> img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
#work .work-wrap> sticker:hover img {}
#work p {
    margin-top: 4vh;
    font-size: 14px;
    color: #c5c5c5;
}
#contact social> a> img {
    margin: 5vh 7px 0 7px;
    height: 48px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    transition: .8s;
}
#contact social> a:hover> img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
#contact form {
    width: 50%;
    min-width: 300px;
    margin: auto;
}
#contact form input, #contact form textarea {
    width: 100%;
    border: #777;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 12px;
    color: #555;
    padding: 6px;
    font-size: 16px;
    position: relative;
    background: transparent;
}
#contact form input:before {
    content: attr(label);
    position: absolute;
    left: -100px;
    top: 0;
    height: 60px;
    width: 100px;
    display: table;
}
#contact form textarea {
    height: 30vh;
}
#contact terminal {
    width: 40%;
    background-color: #300A24;
    color: white;
    text-align: left;
    margin: auto;
    font-style: normal;
    display: block;
    font-family: monospace;
    font-size: 14px;
    height: 40vh;
    position: relative;
}
#contact terminal output {
    padding: 8px 12px;
    display: block;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
#contact terminal output>noscript {
    display: block;
}
#contact terminal input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: monospace;
    font-size: 14px;
}
#contact terminal:before {
    content: '';
    border-radius: 10px 10px 0 0;
    display: block;
    height: 28px;
    width: 100%;
    position: absolute;
    top: -28px;
    left: 0;
    background: url('../img/ubuntu-buttons.png') no-repeat, url('../img/ubuntu-bg.png') repeat-x;
}
@media (max-width: 400px) {
    #logo noscript img {
        width: 240px;
    }
    #about skills> stack> cap {
        font-size: 16px;
    }
    #about skills> stack> progress {
        height: 7px;
        margin: 3px;
        margin-left: 80px;
    }
    #about skills> stack> progress::before {
        font-size: 10px;
        left: -60px;
    }
}
@media (min-width: 400px) and (max-width: 800px) {
    #logo noscript img {
        width: 280px;
    }
    #about skills> stack> cap {
        font-size: 18px;
    }
    #about skills> stack> progress {
        height: 11px;
        margin: 4px;
        margin-left: 100px;
    }
    #about skills> stack> progress::before {
        font-size: 12px;
        left: -80px;
    }
}
@media (min-width: 800px) and (max-width: 1280px) {
    #logo noscript img {
        width: 320px;
    }
    #about skills> stack> cap {
        font-size: 20px;
    }
    #about skills> stack> progress {
        height: 14px;
        margin: 6px;
        margin-left: 120px;
    }
    #about skills> stack> progress::before {
        font-size: 14px;
        left: -110px;
    }
}
@media (min-width: 1281px) {
    #logo noscript img {
        width: 360px;
    }
}
