html,body{
	margin:0;
	padding:0;
	min-width:300px;
	max-width:1980px;
	position: relative;
	margin:0 auto;
	overflow-x:hidden;
}

.background{
	padding:4px 0 0 7px;
	box-sizing:border-box;
	max-width:100%;
	color:#c7c7c7;
	position:absolute;
	font-size:20px;
	line-height:22px;
	word-wrap: break-word;
	font-family:"Baskerville Old Face";
	letter-spacing: 2px;
	top:0;
	left:0;
	z-index:0;
	height:100%;
	overflow:hidden;
	
	 background: linear-gradient(-45deg,#c7c7c7,#e7e7e7, #c7c7c7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.reloadButton{
	position:absolute;
	right:15px;
	bottom:15px;
	padding:5px;
	width:20px;
	cursor:pointer;
}

.page{
	display:block;
	height:100%;
	max-height:1200px;
	position:relative;
}


#logoPage noscript{
	height:100%;
	display:flex;
	width:100%;
	position: relative;
}

#logoPage noscript img{
	z-index:4;
	margin:auto;
	width:400px;
	vertical-align:middle;
}

@media (max-width: 400px) {
	
	#logoPage noscript img{
		width:240px;
	}
	
}

@media (min-width: 400px) and (max-width: 800px){
	
	#logoPage noscript img{
		width:280px;
	}
	
}

@media (min-width: 800px) and (max-width: 1280px){
	
	#logoPage noscript img{
		width:320px;
	}
}