.range {
  width: 100%;
  padding: 5px;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: none;
}

.range::-webkit-slider-runnable-track {
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 2px;
}

.range::-moz-range-track {
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 2px;
}

.range::-ms-track {
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 2px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #888;
  margin-top: -6px;
}

.range::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #888;
  margin-top: -6px;
}

.range::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #888;
  margin-top: -6px;
}

.range::-webkit-slider-thumb:active {
  background: gray;
}

.range::-webkit-slider-thumb:active {
  box-shadow: 0 0 2px gray;
}

.range:focus {
  outline: none;
}
